@import '../../global.scss';

.testModal {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 250px;
    z-index: 2;

    width: 280px;
    padding: 12px;

    background-color: white;
    border: 1px solid $major_color;
    border-radius: 12px;

    &-label {
        font-family: "Roboto";
        font-size: 20px;
        text-align: center;
    }

    &-buttons {
        margin-top: 12px;
        display: flex;
        justify-content: space-around;

        &-deny {
            background-color: $red-color;
            &:active {
                background-color: #be2300;
            }
        }

        &-accept {
            background-color: $green-color;
            &:active {
                background-color: #4f9608;
            }
        }
    }

    &-button {
        padding: 12px 16px;
        border-radius: 8px;
        color: white;
        font-family: "Roboto Mono";
        font-size: 16px;
    }
}