@import '../../global.scss';

.navbar-svg {
    fill: grey;
}

.navbar-svg-active {
    fill: $major_color;
}

.navbar-wrapper {
    box-sizing: border-box;
    width: 100vw;
    height: 48px;

    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;

    background-color: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.10)

    &-none {
        display: none;
    }
}

nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 48px;

    background-color: white;
    border: 0;
    cursor: pointer;
}